.modal1{
margin-left: auto;
margin-right: auto;
outline: solid black;
width: 300px;
height: 250px;
position: relative;
padding-left: 15px;
border-radius: 10px;

}
.modal1:hover{
    transition: all 0.4s ease;
    border-radius: 16px;
    box-shadow: 7px 7px 23px 0px rgba(0,0,0,0.75);
}
.reg-button{
    position: absolute;
    bottom: 70px;
    left: 50px;
    width: 205px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}
.reg-button:hover{
    background-color: rgb(179, 179, 179);
    transition: all 0.6s ease;
}
.password{
    margin-top: 25px;
    margin-left: 50px;
}
.email{
    margin-left: 50px;
}
.modal-title{
    margin-left: 90px;
}